<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Results</title>
</head>
<body>
    <h1>Prediction Results</h1>
    <video width="320" height="240" controls>
        <source src="{{ url_for('static', filename=original_video.split('static/')[1]) }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <p>Prediction: {{ output }}</p>
    <p>Confidence: {{ confidence }}</p>
</body>
</html>
